.movietableDiv {
    justify-content: center;
    margin: 0 100px 100px;
    height: 620px;
    overflow-y: scroll;
    overflow-x:hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.movietableDiv::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.movietable {
    width: 100%;
}
thead{
    border:none;
    background: white;
    position: sticky;
    z-index: 99;
    top:0;
}
thead:after{
    content:' ';
    display:block;
    border: 1px solid #0B749B;
    opacity: 0.4;
    width: 10000px;

}
 tr th  {
    background: white;
    position: sticky;
    z-index: 99;
    top:0;
}


.tableCaption {
    justify-content: center;
    margin: 24px 100px;
    position: sticky;
    text-align: left;
    font: normal normal normal 24px/12px Roboto;
    letter-spacing: 0;
    color: #386071;
    opacity: 1;
}


.tableHeader{
    text-align: center;
    font-size: 10px;
    letter-spacing: 0;
    color: #0B749B;
    opacity: 1;
    width: 70px;
    padding-bottom: 5px;
    background: white;
}
.headerTitle{
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
    color: #0B749B;
    opacity: 1;
    padding-bottom: 5px;
    background: white;
}
.headerYear{
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
    color: #0B749B;
    opacity: 1;
    padding-bottom: 5px;
    background: white;
}
.headerRev{
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
    color: #0B749B;
    opacity: 1;
    padding-bottom: 5px;
    background: white;
}
.headerIcon{
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
    color: #0B749B;
    opacity: 1;
    padding-bottom: 5px;
    background: white;
}



table {
    border-collapse: collapse;
    table-layout: fixed;

}

.movie-item{
    border-bottom: 1px solid #9AAEBB;
    height: 70px;
}

.item-rank{
    text-align: center;
    font: normal normal normal 16px/20px Roboto;
    letter-spacing: 0;
    color: #536B7A;
    opacity: 1;

}
.item-title{
    text-align: left;
    font: normal normal normal 16px/20px Roboto;
    letter-spacing: 0;
    color: #536B7A;
    opacity: 1;

}
.item-year{
    text-align: left;
    font: normal normal normal 16px/20px Roboto;
    letter-spacing: 0;
    color: #536B7A;
    opacity: 1;
}
.item-revenue{
    text-align: left;
    font: normal normal normal 16px/20px Roboto;
    letter-spacing: 0;
    color: #536B7A;
    opacity: 1;
}

.item-icon{
    background: transparent 0 0 no-repeat padding-box;
    opacity: 1;
}


.loader {
    margin-top:25px;
    border: 16px solid #e3e3e3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    margin-left: 40%;
    width: 140px;
    height: 140px;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.filters{
    display: flex;
    justify-items: flex-start;
    margin: 30px 100px;
}

.biggestRevFalse{
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #78849E66;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
    font: normal normal 300 12px/14px Roboto;
    letter-spacing: 0;
    color: #78849E;
    padding:10px;
    margin-right: 20px;
}

.biggestRevTrue{
    background: #00BAFF 0 0 no-repeat padding-box;
    border: 1px solid #78849E66;
    border-radius: 20px;
    text-align: center;
    font: normal normal 300 12px/14px Roboto;
    letter-spacing: 0;
    color: #012433;
    opacity: 1;
    padding:10px;
    margin-right: 20px;
}

.yearRevFalse{
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #78849E66;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
    font: normal normal 300 12px/14px Roboto;
    letter-spacing: 0;
    color: #78849E;
    padding:10px;
    margin-right: 20px;
}

.yearRevTrue{
    background: #00BAFF 0 0 no-repeat padding-box;
    border: 1px solid #78849E66;
    border-radius: 20px;
    text-align: center;
    font: normal normal 300 12px/14px Roboto;
    letter-spacing: 0;
    color: #012433;
    opacity: 1;
    padding:10px;
    margin-right: 20px;
}